* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}
/* remove this  */
body {
  font-family: "Segoe UI", sans-serif;

  color: #FFF;
}




  #window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
    color: #000;
  }

  #window-controls {
    -webkit-app-region: no-drag;
  }

  #window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  @media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
  (-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
  (-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
    #window-controls .icon {
      width: 10px;
      height: 10px;
    }
  }

  #window-controls .button {
    user-select: none;
  }

  #window-controls .button:hover {
    background: rgba(150,150,150,0.25);
  }

  #window-controls .button:active {
    background: rgba(150,150,150,0.25);
  }

  #close-button:hover {
    background: #D32F2F !important;
    color: #fff;
  }
 

  /* #close-button:active {
    background: #F1707A !important;
  } */
  #close-button:active .icon {
    filter: invert(1);
  }

  #min-button {
    grid-column: 1;
  }
  #max-button, #restore-button {
    grid-column: 2;
  }
  #close-button {
    grid-column: 3;
  }

  #restore-button {
    display: none !important;
  }

  .maximized #restore-button {
    display: flex !important;
  }

  .maximized #max-button {
    display: none;
  }
  .icon {
    width: 15px;
  }

  .navigation {
    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;
  }

 

 body  #main-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36px;
  padding: 0 6px;
  background-color: #FFFFFF;
}
body  #main-bar .button {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin: 0 2px;
  border-radius: 100%;
  transition: 0.25s;
}
body  #main-bar .button[disabled] svg path {
  fill: #BABCBE;
}
body  #main-bar .button:not([disabled]):hover {
  background-color: #EEEEEE;
}
body  #main-bar .button:not([disabled]):active {
  transition: 0.05s;
  background-color: #E2E2E2;
}
body  #main-bar .button:not([disabled]) svg path {
  fill: #5F6368;
}
body  #main-bar .button svg {
  width: 14px;
  height: 14px;
}
body  #main-bar .button.extension {
  position: relative;
}
body  #main-bar .button.extension img {
  width: 16px;
}
body  #main-bar .button.extension[data-disabled] {
  filter: grayscale(1) opacity(50%);
}
body  #main-bar .button.extension[data-notifications]:before {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 12px;
  min-width: 12px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #FFFFFF;
  background-color: #555555;
  color: #FFFFFF;
  font-size: 6px;
  content: attr(data-notifications);
}
body  #main-bar #address-bar {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  height: 28px;
  margin: 0 8px 0 6px;
  border-radius: 20px;
  background-color: #ECEFF2;

}
body  #main-bar #address-bar:focus-within {
  border: 1.2px solid #FF7F50

}

body  #main-bar #address-bar.selected {
  box-shadow: 0 0 0 1px #B3CEFB, inset 0 0 0 1px #B3CEFB;
  background-color: #FFFFFF;
}
body  #main-bar #address-bar .address-bar-button {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  min-width: 32px;
  padding: 0 10px;
  margin: 0 2px;
  border-radius: 20px;
  font-size: 14px;
  transition: background-color 0.25s;
}
body  #main-bar #address-bar .address-bar-button.show-special {
  margin-right: 9px;
}
body  #main-bar #address-bar .address-bar-button svg path {
  fill: #5F6368;
}
body  #main-bar #address-bar .address-bar-button svg.favourite path {
  fill: #4285F4;
}
body  #main-bar #address-bar .address-bar-button svg.https, body  #main-bar #address-bar .address-bar-button img.https, body  #main-bar #address-bar .address-bar-button .special.https {
  width: 12px;
  height: 12px;
}
body  #main-bar #address-bar .address-bar-button svg.error, body  #main-bar #address-bar .address-bar-button img.error, body #main-bar #address-bar .address-bar-button .special.error {
  width: 14px;
  height: 14px;
}
body  #main-bar #address-bar .address-bar-button svg.favicon, body  #main-bar #address-bar .address-bar-button img.favicon, body #main-bar #address-bar .address-bar-button .special.favicon, body #main-bar #address-bar .address-bar-button svg.not-favourite, body  #main-bar #address-bar .address-bar-button img.not-favourite, body  #main-bar #address-bar .address-bar-button .special.not-favourite, body  #main-bar #address-bar .address-bar-button svg.favourite, body  #main-bar #address-bar .address-bar-button img.favourite, body  #main-bar #address-bar .address-bar-button .special.favourite {
  width: 16px;
  height: 16px;
}
body  #main-bar #address-bar .address-bar-button svg.special, body  #main-bar #address-bar .address-bar-button img.special, body #main-bar #address-bar .address-bar-button .special.special {
  position: relative;
  margin-left: 10px;
  color: #5F6368;
  white-space: pre;
  user-select: none;
}
body  #main-bar #address-bar .address-bar-button svg.special:before, body  #main-bar #address-bar .address-bar-button img.special:before, body  #main-bar #address-bar .address-bar-button .special.special:before {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -10px;
  width: 1px;
  background-color: #9D9E9F;
  content: '';
  transition: 0.25s;
}
body  #main-bar #address-bar .address-bar-button svg.hide, body  #main-bar #address-bar .address-bar-button img.hide, body #main-bar #address-bar .address-bar-button .special.hide {
  display: none;
}
body  #main-bar #address-bar .address-bar-button:not([disabled]):hover {
  background-color: #D6D8DA;
}
body  #main-bar #address-bar .address-bar-button:not([disabled]):hover .special:before {
  opacity: 0;
}
body  #main-bar #address-bar .address-bar-button:not([disabled]):active {
  transition: 0.05s;
  background-color: #C9CBCD;
}
body #address-bar #address {
  flex-grow: 1;
  font-size: 14px;
}
body #main-bar #address-bar #address .protocol {
  color: #5F6368;
}
body #address-bar #address .domain {
  color: #202124;
}
body #address-bar #address input {
  color: #202124;
  width: 100%;
  border-width: 0;
  outline: none;
  background: none;
}
body #main-bar #address-bar #address .extension {
  color: #80868B;
}
body  #main-bar .seperator {
  width: 1px;
  height: 16px;
  margin: 0 6px 0 8px;
  background-color: #CED0D1;
}


/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}:root{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'}hr{height:0}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:SFMono-Regular,Consolas,'Liberation Mono',Menlo,Courier,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{padding:0}progress{vertical-align:baseline}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}
/*# sourceMappingURL=modern-normalize.min.css.map */
/* 

